body{
   background-color: green;
}
#form1{
   background-color: pink;
   height: 48px;
   width: 64px;
   float: left;   
}
#gameField{
   background-color: blue;
   position: relative;
   display: inline-block;
   height: 480px;
   width: 640px;
   margin-left: 5px;
   margin-top: 5px;
   text-align: center;
   float: left;
}
.kubNul{
   background-color: white;
   border: 1px solid #EEEED1;
   height: 8px;
   width: 8px;
   margin: 0px;
   float: left;
}
.kube{
   background-color: gray;
   border: 1px outset black;
   height: 8px;
   width: 8px;
   margin: 0px;
   float: left;
}
.wall{
   background-color: black;
   height: 0px;
   width: 0px;
   clear: both;
}

